doctype html
html
  head
    title Page Not Found
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    h1 #{error.message}
    h2 #{error.status}
    p Sorry! We couldn&apos;t find the page you were looking for.
    br
    p
      a.button(href='/') Home